# OS metadata
.DS_Store
Thumbs.db

# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
**/*.xcuserdata/

# Swift Package Manager & XcodeGen
.build/
Packages/**/.build/
.swiftpm/xcode/package.resolved
.swiftpm/xcode/xcuserdata/

# Crashlytics
dSYMs/
*.dSYM
